* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100vh;
    background-color: #cccccc;
    margin: 0;
    padding: 0;
    justify-content: center;

}

body {
    width: 95%;
    height: 95%;
    background-color: transparent;
    margin: 2.5% auto;
    display: flex;
    flex-direction: column;
}

header {
    border-top: 15px solid green;
}

header, .main {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

header > * {
    text-align: left;
}

header > .tourney-name, .team, .match-time {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: .75em;
    padding-left: 1em;
    padding-right: 1em;
}

.main {
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.main > .result-filter {
    padding-top: .75em;
}

.result-filter {
    display: flex;
    align-self: flex-end;
}

.score-wrapper:first-child {
    margin-top: .75em;
}

.score-wrapper {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-left: 1em;
    padding-right: 1em;
}

.score-wrapper:first-of-type{
    border-top: 0px solid transparent;
    border-bottom: 1px solid #cccccc;
    padding-left: 1em;
    padding-right: 1em;
}

.score-wrapper:last-of-type{
    border-bottom: 0px solid transparent;
    border-top: 1px solid #cccccc;
    padding-left: 1em;
    padding-right: 1em;
}


.match-time {
    margin-top: .75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.team {
    display: flex;
    justify-content: space-between;
    padding: .75em;
    border-left: 10px solid black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-top: 1em;
}

.team:last-child {
    margin-bottom: 1.75em;
}

.team > span {
    display: inline;
    font-size: larger;
    line-height: 50%;
}

.team > .score {
    font-size: xx-large;
    text-align: right;
}

header > .tourney-date {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}

.winner {
    border-left: 10px solid green;
}

.winning-score {
    font-weight: 600;
}

.loser {
    border-left: 10px solid red;
}

.losing-score {
    font-weight: 300;
}